#table-block{
	width: 80%;
	margin-left: 25%;
}
#tbl{
	width: 60%;
	alignment-baseline: central;
	background-color: #ffffff;
	text-align: center;
}
th{ 
	text-align: center;
	background-color: #0099cc;
	height: 2em;
	color: #ffffff;
 }